body {
  background-color: #e4eaf2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.card {
  margin-top: 200px;
  background-color: #fff;
  width: 500px;
  height: 200px;
  border-radius: 1rem;
  padding: 0rem 3rem 4rem;
}

.details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.cardbody {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.imgweather {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
}

img {
  position: relative;
  right: 10px;
}

.weatherText {
  margin-top: 2rem;
}

.pp {
  margin-right: 5rem;
}
